@font-face {
  font-family: MyInter sans-serif;
  src: url("../fonts/Inter-Medium.ttf");
}
.home{
  .navbar{
    .navbarTop{
      background-color: #fafafa;
      .container{
        .navbarTopContent{
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 22px 0;
          box-sizing: border-box;
          .inputSearch{
            width: 400px;
            margin-left: -280px;
            .ant-input{
              box-shadow: 0 2px 2px rgba(204, 204, 204, 0.51);
              border-radius: 5px;
              border: none;
              padding: 7.5px;
            }
          }
          .telephone{
            button{
              border: 1px solid #008F48;
              box-sizing: border-box;
              border-radius: 10px;
              color: #008F48;
              font-weight: 500;
              font-family: inherit;
              padding: 17px 12px;
              display: flex;
              align-items: center;
              img{
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    .navbarBottom{
      .container{
        .navbarBottomContent{
          display: flex;
          padding: 22px 0;
          box-sizing: border-box;
          align-items: center;
          .homeButton{
            background-color: #008F48;
            border-radius: 10px;
            padding: 7px 9px;
            margin-right: 30px;
          }
          .nav-link{
            margin: 0 30px;
            font-family: MyInter sans-serif;
            color: #000;
            opacity: 0.7;
            font-size: 14px;
          }
        }
      }
    }
  }
}